body {
  font-size: 14px;
}

#board {
  width: 400px;
  height: fit-content;
}

.container {
  display: flex;
}

.button__container {
  margin-left: 10px;
}

.button__container button {
  background-color: rgb(44, 85, 146);
  color: white;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}

.info__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#thinkMessage {
  display: none;
  color: red;
}